$cerulean:                       rgb(164, 201, 97);

$white:                          rgb(243, 243, 243);
$gray-light:                     rgb(176, 187, 174);
$gray:                           rgb(53, 63, 57);
$gray-dark:                      rgb(40, 51, 41);
$black:                          rgb(19, 24, 20);

$color-primary:                  $cerulean;

$color-sidebar-bg:              $gray;
$color-sidebar-border:          very-light(rgb(144, 218, 84), 12); // $color-border
$color-navbar:                  $gray-light;
$color-navbar-bg:               $gray;
$color-navbar-active:           $white;
$color-navbar-active-bg:        $color-primary;
$color-navbar-submenu:          tint($gray-light, 40%);
$color-navbar-submenu-bg:       $gray-dark;
$color-navbar-submenu-active:   tint($color-primary, 20%);
$color-navbar-footer:           $color-navbar;
$color-navbar-footer-active:    $color-navbar-active;

// Sidebar
//--------------------------------------------------------------
$border-sidebar:                 none;
